{% extends 'base.html' %}
{% block content %}
<!-- <form action="E:\PROJECTS\DC_Proj\index.html" class="form" action="">
    <h1>Login page</h1>
    <input type="text" placeholder="username" id="username">
    <input type="password" name=""placeholder="password" id="password">
    <a href="index.html">Submit</a>
</form> -->
<head>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<section>
    <form class = "form" method="post" action="{% url 'register' %}">
        <h1>Register</h1>
        {% csrf_token %}
        {% for field in form %}
        <div >
            <!-- {{ field.label_tag }} -->
            <input type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}" placeholder = "{% if 'password' in field.label_tag %}Password{% else %}Username{% endif %}" name="{{ field.html_name }}" maxlength="{% if 'username' in field.label_tag %}150{% endif %}" id="{{ field.id_for_label }}" required />
        </div>
        {% if field.errors %} 
            {% for error in field.errors %}
                <p style="font-size: 13px; color: red;">{{ error|escape }}</p>
            {% endfor %} 
        {% endif %} 
        {% endfor %}
        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}
