.content{
    margin-top: 150px;
    display: flex;
    padding: 30px 48px;
    height: 100%;
}
.content .course{
    color: white;
    height: 100%;
}

.content .course .inc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content .course .cont{
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #2a2a2a;
    height: 55vh;
    width: 342px;
    border: 1px solid #9b9b9b;
    border-radius: 20px;
    margin: 18px 8px;
    padding: 0px 15px;
    display:flex;
    flex-direction:column;
    align-items: center;
    transition: all 200ms ease-in-out 0s;
    cursor: pointer;
}

.content .course .cont:hover{
    box-shadow: 1px 25px 45px rgba(0, 0, 0, 0.846);
    transform: scale(1.05) translateY(-2px);
}

.img {
    margin: 11.6px 0px;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.img img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    text-overflow: clip;
}